{% extends 'MYAPP/base.html' %}

{% load static %}

{% block title %}
INGENIERIA
{% endblock %} 

{% block content %}
<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Detalle de una Publicación</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">!!A través de este blog, queremos inspirar a otros a compartir sus conocimientos y fomentar una comunidad abierta al aprendizaje.¡¡¡¡

                </p>
            </div>
        </div>
    </div>
    
    <div class="container text-center">
    <button type="submit" class="btn btn-primary">REGISTRATE AQUI </button>
</section>


{% endblock %}