{% extends 'MYAPP/base.html' %}

{% load static %}

{% block title %}
PROGRAMACION
{% endblock %} 


{% block content %}


</section>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">La programación es el lenguaje con el que construimos el futuro. Desde aplicaciones móviles hasta inteligencia artificial, cada línea de código tiene el poder de transformar ideas en realidades. Aprender a programar no solo abre puertas a oportunidades laborales, sino que también fomenta la creatividad y la resolución de problemas.

            En este blog, exploraremos juntos conceptos, herramientas y consejos para dominar este arte y convertirnos en arquitectos del mundo digital. ¿Estás listo para compartir tus experiencias?</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">COMPARTE</h3>
                    <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">DESCARGA</h3>
                    <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">PUBLICA</h3>
                    <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">CONOCENOS</h3>
                    <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


